.container {
    gap: 30px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 5vh 5vw;
    background: url("https://png.pngtree.com/thumb_back/fw800/background/20230624/pngtree-mail-sorting-system-3d-illustration-of-parcels-being-organized-and-sorted-image_3668517.jpg");
    z-index: 1;
    background-position: center;
    background-size: cover;
}


.trackingContent {
    width: 50%;
    padding: 40px 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 1);



}


.trackingNames {
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;

    >li {
        list-style: none;
    }

    >i {
        font-size: 20px;
    }

    >hr {
        all: unset;
        width: 100%;
        height: 1px;
        color: black;
        background-color: black;
    }

}




@media (max-width: 768px) {
    .container {
        padding: 2vh 2vw;
        min-height: 100dvh;
    }

    .trackingContent {
        width: 90%;
        padding: 30px;
    }
}